@font-face {
  font-family: "mop";
  src: url(./fonts/Play-Bold.ttf);
}
* {
  box-sizing: border-box;
  font-family: "mop";
  color: #fff;
}

body {
  background: radial-gradient(
      ellipse at 94% 49%,
      #363f57 0,
      rgba(50, 59, 82, 0) 64%
    ),
    radial-gradient(ellipse at 38% 89%, #323a50 14%, #151515 74%) no-repeat;
  height: 100vh;
  overflow: hidden;
}

.game-wrapper {
  margin-top: 2rem;
  height: 100vh;
  color: #fff;
}
.game-field {
  height: 70%;
  aspect-ratio: 1;
  padding: 1rem;
}
.model__expressions {
  height: 7%;
  width: 50%;
  background-color: #047db4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}
.expression {
  color: inherit;
}
.game-field .row {
  display: flex;
  width: 100%;
  height: calc(100% / var(--rows));
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / var(--columns));
  background: none;
}
.starting-value {
  background-color: #ff9800;
  border-radius: 50%;
}
.last-cell {
  position: relative;
  background-color: #3f51b5;
}
.target-value {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: #ece288;
}
.current-value {
  scale: 0.8;
  position: absolute;
  bottom: -7%;
  right: 3%;
  color: #00ff9b;
}
.visited {
  font-weight: bold;
  opacity: 0;
  animation: show-path 0.3s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--delay));
  scale: 1.2;
}
@keyframes show-path {
  to {
    opacity: 1;
  }
}
.up {
  background: url(../../images/up.png);
}
.down {
  background: url(../../images/down.png);
}
.right {
  background: url(../../images/right.png);
}
.left {
  background: url(../../images/left.png);
}
.arrow {
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.arrows-con img {
  width: 1.5rem;
  cursor: pointer;
}

.model-check {
  border-radius: 50%;
  background-color: #ece288;
  font-size: 0.9rem;
  color: #5f5600;
}
#newGameBtn {
  box-shadow: none;
}
