@font-face {
  font-family: "mop";
  src: url(../../fonts/Play-Bold.ttf);
}
* {
  box-sizing: border-box;
  font-family: "mop";
}

body {
  background: radial-gradient(
      ellipse at 94% 49%,
      #363f57 0,
      rgba(50, 59, 82, 0) 64%
    ),
    radial-gradient(ellipse at 38% 89%, #323a50 14%, #151515 74%) no-repeat;
  height: 100vh;
  overflow: hidden;
}

.game-wrapper {
  margin-top: 2rem;
  height: 100vh;
  color: #fff;
}
.game-field {
  height: 70%;
  aspect-ratio: 1;
  padding: 1rem;
}
.game-field .row {
  display: flex;
  width: 100%;
  height: calc(100% / var(--rows));
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / var(--columns));
}
.start-value {
  background-color: #009db1;
  border-radius: 50%;
}
.target-value {
  background-color: #b4c50b;
  border-radius: 50%;
}
.visited {
  color: #fff;
  font-weight: bold;
  opacity: 0;
  animation: show-path 0.3s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--delay));
  scale: 1.4;
}
@keyframes show-path {
  to {
    opacity: 1;
  }
}
.up {
  background: url(../../images/neon-arrow-up.png);
}
.down {
  background: url(../../images/neon-arrow-down.png);
}
.right {
  background: url(../../images/neon-arrow-right.png);
}
.left {
  background: url(../../images/neon-arrow-left.png);
}
.arrow {
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
